.sidebar {
    width: 280px;
    height: 100vh;
    background: #dde6ed;
    color: #1b2a41;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000; /* مطمئن شو که همیشه زیر بقیه عناصر است */
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: right;
}

.main-content {
    margin-right: 260px; /* همیشه فاصله کافی از اسلایدبار داشته باشد */
    transition: margin-right 0.3s ease-in-out;
    padding: 20px;
}


/* عنوان داشبورد */
.sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1b2a41; /* رنگ فونت عنوان */
}

/* لیست آیتم‌ها */
.sidebar ul {
    list-style: none;
    padding: 0;
}

    .sidebar ul li {
        margin: 5px 0;
    }

/* لینک‌های منو */
.sidebar-link, .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: #1b2a41; /* تغییر رنگ متن به سرمه‌ای */
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.sidebar-button {
    background: none;
    border: none;
}

    /* هاور لینک‌ها */
    .sidebar-link:hover, .sidebar-button:hover {
        background: #1b2a41;
        color: #dde6ed;
    }

/* زیرمنو‌ها */
.sidebar ul .submenu {
    padding-right: 20px;
    display: none;
}

    .sidebar ul .submenu.open {
        display: block;
    }

/* استایل آیکون‌ها */
.sidebar .icon {
    font-size: 1.5rem;
    margin-left: 10px; /* فاصله بین آیکون و متن */
}

.sidebar-footer {
    margin-top: auto;
    display: flex;
    align-items: center;    
    justify-content: center; 
    gap: 60px;              
    padding-bottom: 0.1px;  /* فاصله از پایین سایدبار (دلخواه) */
  }
  
  .r-logo {
    width: 80px;
    height: auto;
  
    /* تبدیل کامل تصویر به خاکستری */
    filter: grayscale(100%);
    opacity: 0.5;
  
    /* در صورت نیاز، روشنایی یا تیرگی را نیز کنترل کنید:
       filter: grayscale(100%) brightness(70%);
    */
  }
  
  
  .sidebar-footer span {
    font-size: 12px;    /* کوچکتر کردن اندازه فونت */
    margin-top: 60px;    /* متن کمی پایین‌تر از لوگو قرار بگیرد */
    color: #555;        /* در صورت تمایل، رنگ متن را تغییر دهید */
    opacity: 0.8;
  }
  